.universal-canvas {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.universal-canvas-zoom {
    align-self: center;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    height: 5000px;
    justify-content: center;
    pointer-events: none;
    transform: scale(1);
    width: 5000px;
    transition: transform .1s;
}

.universal-canvas-trans {
    align-self: center;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    pointer-events: none;
    transform: translateZ(0);
    transition: transform .1s;
}

.universal-canvas-trans > * {
    pointer-events: initial;
}